In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [21]:
df_rfm=pd.read_csv(r"C:\Users\chand\Desktop\Data science\Python\ML\RFM\rfm_data.csv")
df_rfm.head(20)

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris
5,8483,2023-04-11,375.23,Product C,691194,Paris
6,8317,2023-04-11,272.56,Product B,826847,New York
7,6911,2023-04-11,433.33,Product C,963918,Tokyo
8,8993,2023-04-12,16.55,Product D,112426,New York
9,3519,2023-04-12,464.63,Product C,139726,New York
10,9005,2023-04-12,120.75,Product C,972064,Paris
11,9409,2023-04-12,865.98,Product A,597126,London
12,5670,2023-04-12,392.70,Product B,995296,London
13,8724,2023-04-12,623.35,Product C,739717,London
14,9148,2023-04-12,99.15,Product D,629996,Tokyo
15,5837,2023-04-12,978.17,Product D,387813,New York
16,2767,2023-04-12,299.57,Product D,342397,Tokyo
17,2824,2023-04-12,744.13,Product B,334053,London
18,9128,2023-04-12,388.90,Product D,281201,Paris
19,1520,2023-04-12,102.76,Product B,629903,New York

In [22]:
df_rfm.dtypes

CustomerID              int64
PurchaseDate           object
TransactionAmount     float64
ProductInformation     object
OrderID                 int64
Location               object
dtype: object

In [23]:
df_rfm.describe()

        CustomerID  TransactionAmount        OrderID
count  1000.000000         1000.00000    1000.000000
mean   5554.789000          513.67781  554071.398000
std    2605.014863          286.09870  264695.448814
min    1011.000000           12.13000  100096.000000
25%    3273.000000          257.12000  313152.000000
50%    5538.000000          523.56500  564671.500000
75%    7821.750000          759.86000  783052.250000
max    9991.000000          999.44000  999695.000000

In [24]:
df_rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          1000 non-null   int64
 1   PurchaseDate        1000 non-null   object
 2   TransactionAmount   1000 non-null   float64
 3   ProductInformation  1000 non-null   object
 4   OrderID             1000 non-null   int64
 5   Location            1000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

In [25]:
df_rfm['CustomerID'].nunique()

946

In [26]:
df_rfm.drop_duplicates(inplace=True)

In [27]:
df_rfm.shape

(1000, 6)

In [28]:
df_rfm['PurchaseDate']=pd.to_datetime(df_rfm['PurchaseDate'])

In [29]:
df_rfm.dtypes

CustomerID                     int64
PurchaseDate          datetime64[ns]
TransactionAmount            float64
ProductInformation            object
OrderID                        int64
Location                      object
dtype: object

In [30]:
df_rfm['year']=df_rfm['PurchaseDate'].dt.year
df_rfm['month']=df_rfm['PurchaseDate'].dt.month
df_rfm['day']=df_rfm['PurchaseDate'].dt.day

In [52]:
print(dt.date.today())

2024-03-25

In [60]:
import datetime as dt
df_rfm['gap']=[dt.date.today()-i for i in df_rfm['PurchaseDate'].dt.date]
df_rfm

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location,year,month,day,gap
0,8814,2023-04-11,943.31,Product C,890075,Tokyo,2023,4,11,349 days
1,2188,2023-04-11,463.70,Product A,176819,London,2023,4,11,349 days
2,4608,2023-04-11,80.28,Product A,340062,New York,2023,4,11,349 days
3,2559,2023-04-11,221.29,Product A,239145,London,2023,4,11,349 days
4,9482,2023-04-11,739.56,Product A,194545,Paris,2023,4,11,349 days
...,...,...,...,...,...,...,...,...,...,...
995,2970,2023-06-10,759.62,Product B,275284,London,2023,6,10,289 days
996,6669,2023-06-10,941.50,Product C,987025,New York,2023,6,10,289 days
997,8836,2023-06-10,545.36,Product C,512842,London,2023,6,10,289 days
998,1440,2023-06-10,729.94,Product B,559753,Paris,2023,6,10,289 days
999,4759,2023-06-10,804.28,Product D,467544,New York,2023,6,10,289 days

In [49]:
df_rfm['PurchaseDate']

0     2023-04-11
1     2023-04-11
2     2023-04-11
3     2023-04-11
4     2023-04-11
         ...
995   2023-06-10
996   2023-06-10
997   2023-06-10
998   2023-06-10
999   2023-06-10
Name: PurchaseDate, Length: 1000, dtype: datetime64[ns]

In [80]:
# calculation of the RFM metrics.
df_rfm = df_rfm.groupby('CustomerID').agg({
    'PurchaseDate': lambda x: (df_rfm['PurchaseDate'].max() - x.max()).days,  # Recency calculation
    'OrderID': 'nunique',  # Frequency calculation
    'TransactionAmount': 'sum' # Monetary calculation
})
df_rfm.rename(columns={'PurchaseDate': 'Recency', 'OrderID': 'Frequency', 'TransactionAmount': 'Monetary'}, inplace=True)
# calculate the difference in years for each customer.
DiffYears = df_rfm.groupby('CustomerID').agg({'PurchaseDate': lambda x: x.dt.year.max() - x.dt.year.min() + 1})
# access and rename the columns of the DiffYears DataFrame.
DiffYears.rename(columns={'PurchaseDate': 'DiffYears'}, inplace=True)
df_rfm['Frequency'] = df_rfm['Frequency'] / DiffYears['DiffYears']
df_rfm.head()

KeyError: "Column(s) ['PurchaseDate'] do not exist"

In [81]:
# Calculation of the RFM metrics.
df_rfm = df_rfm.groupby('CustomerID').agg({
    'PurchaseDate': lambda x: (df_rfm['PurchaseDate'].max() - x.max()).days,  # Recency calculation
    'OrderID': 'nunique',  # Frequency calculation
    'TransactionAmount': 'sum',  # Monetary calculation   
})
df_rfm.rename(columns={'PurchaseDate': 'Recency', 'OrderID': 'Frequency', 'TransactionAmount': 'Monetary'}, inplace=True)
DiffYears = df_rfm.groupby('CustomerID').agg({'PurchaseDate': lambda x: x.dt.year.max() - x.dt.year.min() + 1})
DiffYears.rename(columns={'PurchaseDate': 'DiffYears'}, inplace=True)
df_rfm = df_rfm.merge(DiffYears, on='CustomerID')
df_rfm['Frequency'] = df_rfm['Frequency'] / df_rfm['DiffYears']
df_rfm.head()

KeyError: "Column(s) ['OrderID', 'PurchaseDate', 'TransactionAmount'] do not exist"